body{
    padding: 0;
    margin: 0;
}

.wrapper{
    background-color: #5cbeff;
    height: 31.25em;
    width: 31.25em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius:50%;
    box-shadow: inset 0 0 4em rgba(6, 31, 95, 0.2);
}
.container{
    height: 21.87em;
    width: 21.87em;
    border: 1px solid black;
    position:absolute;
    margin:auto;
    left:0;
    right:0;
    bottom:0;
}
.broom{
    background-color:#cfa15d;
    height: 0.75em;
    width:16.25em;
    position:absolute;
    top: 11.25em;
    left:5.5em;
    transform:rotate(-5deg);
    border-radius: 0 0.75em 0.75em 0;
}
.broom:before {
    position:absolute;
    content:"";
    height:1.12em;
    width:1.12em;
    background: linear-gradient(
        to right,
        #cfa15d 32%,
        #8e4d24 35%,
        #8e4d24 62%,
        #cfa15d 65%
    );
    bottom: -0.18em;
}
.broom:after {
    position:absolute;
    content:"";
    height:1.25em;
    width:0;
    border-left: 5em solid #724c2b;
    border-top: 2.18em solid transparent;
    border-bottom:2.18em solid transparent;
    bottom:-2.43em;
    left:-5em;
}
.harry{
    position:absolute;
    left:4.37em;
    top:17.37em;
    z-index:1;
}
.cloak {
    width:0;
    height: 3.12em;
    border-left: 6.25em solid #202020;
    border-top: 2.5em solid transparent;
    position:absolute;
    bottom:5.68em;
    left: 4.68em;
    transform: rotate(-10deg);
}
.cloak:before {
    position:absolute;
    content:"";
    background: linear-gradient(#202020 93%,
    #ffffff 95%);
    height: 3.12em;
    width: 1.12em;
    transform:rotate(-5deg);
}
.cloak:after {
    position:absolute;
    content:"";
    height:0.62em;
    width: 0.93em;
    background-color: #f3ccb4;
    top:3em;
    left: 0.25em;
    border-radius:0 0 0.62em 0.62em;
    /* transform:rotate(-15deg); */
}
.leg{
    position:absolute;
    background-color:#603e21;
    height: 2.5em;
    width:1.25em;
    bottom:4em;
    left: 8.43em;
    transform: rotate(80deg);
}